xtrpc-common/src/main/resources/META-INF/xt.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="https://github.com/lahahana/schema/xtrpc">
    <xs:element name="application">
        <xs:complexType>
            <xs:attribute name="name" type="xs:string" use="required"></xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="service">
        <xs:complexType>
            <xs:attribute name="interface" type="xs:string" use="required"></xs:attribute>
            <xs:attribute name="ref" type="xs:string" use="required"></xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="reference">
        <xs:complexType>
            <xs:attribute name="id" type="xs:string" use="required"></xs:attribute>
            <xs:attribute name="interface" type="xs:string" use="required"></xs:attribute>

        </xs:complexType>
    </xs:element>
    <xs:element name="protocol">
        <xs:complexType>
            <xs:attribute name="name" type="xs:string" use="required"></xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="registry">
        <xs:complexType>
            <xs:attribute name="address" type="xs:string" use="required"></xs:attribute>
        </xs:complexType>
    </xs:element>

</xs:schema>